@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content">
            @Body
        </div>

        <footer class="footer bg-light">
            <div class="text-center text-muted">
                Created by Raphael Kahler - View the code on <a href="https://github.com/raphael-kahler/SudokuSolver">GitHub</a>
            </div>
        </footer>
    </div>
</div>
