@page "/"

<h1 class="title text-center">Sudoku Solver</h1>
<h4>Stuck on a Sudoku?</h4>
<ol>
    <li>Enter your Sudoku</li>
    <li>Press the solve button</li>
    <li>Get an explanation for the next solution step</li>
</ol>
<p>Try the example below or <a href="/new">enter your own Sudoku</a>.</p>

<SudokuBoardSolver Board="@initialBoard" />

@code {
    private BoardState initialBoard;

    protected override void OnInitialized()
    {
        this.initialBoard = BoardFactory.CreateFromSudokuString("008000090050000000700009105000740000000602504004080009009020056500000473006053920").Value;
    }
}