@page "/new"

<h4>Enter your Sudoku puzzle</h4>
<ul>
    <li>Click or tap a cell to select it</li>
    <li>Use arrow keys to move across cells</li>
    <li>Use numbers 1-9 to set the value of the selected cell</li>
    <li>Use space or 0 to reset a cell</li>
</ul>

<SudokuBoard Board="@(initialBoard)"
             SolveSudokuCallback="@SudokuReadyToSolve"
             InputMode="true" />

@code {
    @inject NavigationManager NavigationManager
    private BoardState initialBoard;

    protected override void OnInitialized()
    {
        var maybePuzzle = BoardQueries.GetSudokuBoardFromQuery(NavigationManager, zerosAreEmpty: true);
        this.initialBoard = maybePuzzle.Is ? maybePuzzle.Value : BoardFactory.EmptyBoard();
    }

    private void SudokuReadyToSolve(BoardState board)
    {
        var sudokuString = BoardFactory.GetBoardString(board);
        NavigationManager.NavigateTo($"/solve?puzzle={sudokuString}", false);
    }
}