@page "/solve"

@if (initialBoard != null) {
    <h4 >How to solve this Sudoku?</h4>
    <p>Follow the steps to find out.</p>
    <SudokuBoardSolver Board="@initialBoard"/>
} else {
    <SudokuInputError />
}

@code {
    @inject NavigationManager NavigationManager

    private BoardState initialBoard;

    protected override void OnInitialized()
    {
        var query = new Uri(NavigationManager.Uri).Query;
        var queryParameters = HttpUtility.ParseQueryString(query);
        var puzzleInput = queryParameters["puzzle"];
        if (!string.IsNullOrWhiteSpace(puzzleInput))
        {
            var maybePuzzle = BoardFactory.CreateFromSudokuString(puzzleInput);
            if (maybePuzzle.Is)
            {
                this.initialBoard = maybePuzzle.Value;
            }
        }
    }
}