@page "/solve"

@if (initialBoard != null) {
    <h4 >How to solve this Sudoku?</h4>
    <p>Follow the steps to find out.</p>
    <SudokuBoardSolver Board="@initialBoard"/>
} else {
    <SudokuInputError />
}

@code {
    @inject NavigationManager NavigationManager

    private BoardState initialBoard;

    protected override void OnInitialized()
    {
        var query = new Uri(NavigationManager.Uri).Query;
        var queryParameters = HttpUtility.ParseQueryString(query);
        var puzzleInput = queryParameters["puzzle"];
        if (!string.IsNullOrWhiteSpace(puzzleInput))
        {
            this.initialBoard = ParseInput(puzzleInput);
        }
    }

    private BoardState ParseInput(string puzzleInput)
    {
        if (puzzleInput.Length != 81)
        {
            return null;
        }
        var board = BoardFactory.CandidateBoard();
        for (int row = 0; row < 9; ++ row)
        {
            for (int col = 0; col < 9; ++col)
            {
                var idx = row * 9 + col;
                var inputValue = puzzleInput[idx];
                if (int.TryParse(inputValue.ToString(), out int value))
                {
                    if (value > 0)
                    {
                        board = board.ApplyChange(BoardStateChange.SetCell(new Position(row, col), value));
                    }
                }
                else
                {
                    return null;
                }
            }
        }
        return board;
    }
}