@page "/solve"

@if (initialBoard != null) {
    <h4 >How to solve this Sudoku?</h4>
    <p>Follow the steps to find out.</p>
    <p>Not the right Sudoku? <a href="@GetEditLink()">Change the input</a>.</p>
    <SudokuBoardSolver Board="@initialBoard"/>
} else {
    <SudokuInputError />
}

@code {
    @inject NavigationManager NavigationManager

    private BoardState initialBoard;

    protected override void OnInitialized()
    {
        var maybePuzzle = BoardQueries.GetSudokuBoardFromQuery(NavigationManager);
        this.initialBoard = maybePuzzle.Is ? maybePuzzle.Value : null;
    }

    private string GetEditLink()
    {
        var sudokuString = BoardFactory.GetBoardString(this.initialBoard);
        return $"new?puzzle={sudokuString}";
    }
}