<div>
    <SudokuTechnique Name="Hidden Subsets" IsCollection=true OnClickCallback="OnClicked"/>
    @{ var hiddenClass = expanded ? "open" : "hidden"; }
    <div class="indent @(hiddenClass)">
        @foreach (var technique in techniques) {
            <SudokuTechnique Name=@technique />
        }
    </div>
</div>

@code {
    private List<string> techniques = new List<string> { "Hidden Single", "Hidden Pair", "Hidden Triple", "Hidden Quad" };

    private bool expanded;

    private void OnClicked(MouseEventArgs e)
    {
        expanded = !expanded;
    }
}