<div>
    <SudokuTechnique Technique=Technique IsCollection=Technique.IsCollection OnClickCallback="OnClicked"/>
    @if (Technique is TechniqueCollection collection)
    {
        var hiddenClass = expanded ? "open" : "hidden";
        <div class="indent @(hiddenClass)">
            @foreach (var technique in collection.Techniques) {
                <SudokuTechniqueCollection Technique=technique />
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public ITechnique Technique { get; set; }

    private List<string> techniques = new List<string> { "Hidden Single", "Hidden Pair", "Hidden Triple", "Hidden Quad" };

    private bool expanded;

    private void OnClicked(MouseEventArgs e)
    {
        expanded = !expanded;
    }
}